body{
	 font-family:Microsoft New Tai Lue;
	 background-position:-20px -75px;
	 min-width:900px;	
	
	 padding:0px;
	 margin:0px auto;
	 line-height:14px;
	 background-color:#FAFAFA;
}
a{
	 text-decoration:none;
}
ul{
	 list-style-type:none;
}
select{
	font-family:Microsoft New Tai Lue;
}
input{
	font-family:Microsoft New Tai Lue;
}
.wrapper{
	 text-align:center; 
	 margin:0px auto;
	 min-width:1050px;
}

.nav-bar{
	 background-color:rgb(52,73,94);
	 margin:0px auto;
	 color:rgba(255,255,255,0.9);	
	 text-align: center; 
	 border:solid 1px black;
}

.nav-bar-inner{
	 height: 46px;
	 margin:0 auto;
	 width:auto;
	 max-width:1000px;
	 width:914px;	 
}

.menu-container{
	 text-align: left;
	 width: auto;
	 position: relative;
	 margin:0px auto;
	 padding-top:1px ;
	 float:left;
	 margin:0 auto;
}

.sub-container{
	 width:380px;
	 float:right;
	 position:relative;
	 left:-4px;
}
ul.sub-container-menu{
	 list-style-type:none;
	 position:Relative;
	 top:10px;
	 left:55px;
}
li.header-menu{
	 display:inline;
	 margin:1px 7px 0px 7px;
	 border-bottom:solid 3px #fff;
	 font-size:14px;
}
ul.sub-container-menu li a{
	color:#fff;
}

.cover{
	 font-size:14px;
	 margin:4px auto;
	 text-align:center;
}
.row{
	 padding:10px 5px 5px 10px;
	 color:rgb(0,0,0);	
	 text-align: center;
	 margin:0 auto;
	 width:100%;
	 display:block;
	 height:500px;
}
.span-left{
	 margin:5px;
	 padding:1px;
	 float:left;
	 width:13%;
	 box-shadow:0px 0px 4px rgba(52,73,94,0.5);
	 text-align:center;
	 height:auto;
}
ul.left-menu{
	 padding:0px;
	 margin:0px;
		/* -webkit-box-shadow:0 0 2px  rgba(52,73,94,0.5);
	   -moz-box-shadow: 0 0 2px  rgba(52,73,94,0.5);
	        box-shadow: 0 0 2px  rgba(52,73,94,0.5);*/
}
a.left-menu-link:link li{
	 padding:3px 1px 0px 1px;
     color:rgba(52,73,94,0.8);	
	 font-weight:700;
}
a.left-menu-link:visited li{
	 padding:3px 1px 0px 1px;
     color:rgba(52,73,94,0.8);	
	 font-weight:700;
}
a.left-menu-link:hover li{
	 box-shadow:0px 0px 3px rgba(52,73,94,0.5);
	 font-weight:700;
	 background-color:rgba(52,73,94,1);
	 color:rgba(255,255,255,0.9);
	 padding:3px 1px 0px 1px ;
	 
}
a.left-menu-link:active li{	
     padding:1px;
	 font-weight:700;	
	 background-color:rgba(52,73,94,1);
	 color:rgba(255,255,255,0.9);
	 padding:3px 1px 0px 1px ;
	 
}
li.left-menu-li span{
	 margin:0px;
	 transition:box-shadow 300ms ease;
	 -webkit-transition : box-shadow 250ms ease; 
	 -moz-transition : box-bottom 250ms ease;
	 -o-transition : box-bottom 250ms ease;	
	 padding-bottom:3px;
}
li.left-menu-li:hover span{
     box-shadow: inset rgba(255,255,255,0.9) 0 -3px 0 0;
	 -webkit-box-shadow: inset rgba(255,255,255,0.9) 0 -3px 0 0;
	 -moz-box-shadow:inset rgba(255,255,255,0.9) -0 3px 0 0;
	 transition:box-shadow 300ms ease-in-out 50ms;
	 padding-bottom:3px;
	 margin:0px;
}
@-moz-document url-prefix() {
    li.left-menu-li span {
        padding-bottom:2px;
    }
}
@-moz-document url-prefix() {
	li.left-menu-li:hover span{
		 padding-bottom:2px;
		}
	}
li.left-menu-li{
	 line-height:27px;
	 font-size:15px;
	 margin:2px; 
}

/* Main container of the portal< <Span right */
.span-right{
	 margin:5px;
	 padding:2px 2px 8px 2px;
	 width:80%;
	 float:left;
	 box-shadow:0px 0px 6px rgba(52,73,94,0.5);
}	
.main-container{
	 margin:0px 0px 4px 0px;
	 text-align:left;
	 color:rgba(0,0,0,0.85);
	 height:inherit;
	 width:100%; /*Ranjeet*/
}
.post-header{
	 margin:0px 2px 0px 2px;
	 background-color:rgba(52,73,94,1);
	 line-height:30px;
	 text-indent:4px;
	 font-weight:700;
	 font-size:15px;
	 color:rgba(255,255,255,0.9);
	 height:inherit;
}
.post-content{
	 margin:0px 2px 2px 2px;
	 padding:4px 0px 2px 0px; 
	 font-size:14px;
	 height:inherit;
	 text-align:Center;
}
.post-header span{
	 box-shadow: inset rgba(255,255,255,0.9) 0 -3px 0 0;
	 -webkit-box-shadow: inset rgba(255,255,255,0.9) 0 -3px 0 0;
	 -moz-box-shadow:inset rgba(255,255,255,0.9) -0 3px 0 0;
	  padding-bottom:4px;
	 margin:0px 4px 0px 4px;
}
.post-text{
	 min-height:inherit;
	 color:rgb(52,73,94);
	 display:inline-block;
	 width:690px;
	 padding:3;
	 margin:0px auto;
	 text-align:Center;
	 width:100%;/*Ranjeet*/
}
/* Link button on home page*/
ul.home-menu{
	 text-align:center;
	 padding:0px;
	
}
a.home-menu-link{
	 width:150px;
	 line-height:30px;
	 display:block;
	 margin:0px auto;
}
a.home-menu-link:link li{
	 padding:3px 1px 0px 1px;
     color:rgba(52,73,94,0.8);	
	 font-weight:700;
}
a.home-menu-link:visited li{
	 padding:3px 1px 0px 1px;
     color:rgba(52,73,94,0.8);	
	 font-weight:700;
}
a.home-menu-link:hover li{
	 box-shadow:0px 0px 3px rgba(52,73,94,0.5);
	 font-weight:700;
	 background-color:rgba(52,73,94,1);
	 color:rgba(255,255,255,0.9);
	 padding:3px 1px 0px 1px ;
	 
}
a.home-menu-link:active li{	
     padding:1px;
	 font-weight:700;	
	 background-color:rgba(52,73,94,1);
	 color:rgba(255,255,255,0.9);
	 padding:3px 1px 0px 1px ;
}
li.home-menu-li span{
	 margin:0px;
	 transition:box-shadow 300ms ease;
	 -webkit-transition : box-shadow 250ms ease; 
	 -moz-transition : box-bottom 250ms ease;
	 -o-transition : box-bottom 250ms ease;	
	 padding-bottom:3px;
}
li.home-menu-li:hover span{
     box-shadow: inset rgba(255,255,255,0.9) 0 -3px 0 0;
	 -webkit-box-shadow: inset rgba(255,255,255,0.9) 0 -3px 0 0;
	 -moz-box-shadow:inset rgba(255,255,255,0.9) -0 3px 0 0;
	 transition:box-shadow 300ms ease-in-out 50ms;
	 padding-bottom:3px;
	 margin:0px;
}
li.home-menu-li{
	 line-height:30px;
	 font-size:15px;
	 width:150px;
	 margin:5px auto;
	 box-shadow:0px 0px 4px rgba(52,73,94,1);
	 background-color:rgba(208,208,208,0.3);
}
/*Admin>> Create Clas|Global form style*/

.box-left{
	 display:block;
	 float:left;
	 width:300px;
	 line-height:30px;
	 text-align:left;
	 margin:2px 0px 2px 0px ;
}
.box-right{
	 display:block;
	 float:right;
	 width:300px;
	 line-height:30px;
	 text-align:left;
	 margin:2px 0px 2px 0px ;
}
.box-left input, .box-left select , .box-right input, .box-right select, .box-right button, .box-left button {
	 float:right;
	 display:block;
}
button{
	 width:80px;
	 height:27px;
	 font-family:inherit;
	 font-size:15px;
	 border:none;
	 cursor:pointer;	 
}
button:hover{
	 background-color:rgba(52,73,94,1);
	 border:none;
	 cursor:pointer;
}
button span{
	 color:rgba(0,0,0,0.85);
}
button:hover span{
	 color:rgba(255,255,255,0.9);
	 box-shadow: inset rgba(255,255,255,0.9) 0 -3px 0 0;
	 -webkit-box-shadow: inset rgba(255,255,255,0.9) 0 -3px 0 0;
	 -moz-box-shadow:inset rgba(255,255,255,0.9) -0 3px 0 0;
	 transition:box-shadow 300ms ease-in-out 50ms;
	  padding-bottom:0px;
	 margin:0px;
}

/*check box styling school>> add_fee.php */

/* .table-view class parent admin>>srt_fee.php*/
ul.table-view{
	  display:inline-block;
	  height:31px;  
	  margin:0px auto;
	  padding:0px;
	  width:100%;/*Ranjeet*/
}
li.table-view-header{
	 Font-weight:bold;
	 font-size:13px;

}
ul.table-view li{
	 float:left;
	 width:50px;
	 height:24px;
	 font:13px;
	 text-align:center;
	 border-bottom:solid 1px rgba(52,73,94,1);
	 padding-bottom:4px;
	 margin: 1px 4px 1px 3px;
	 
}

 /* search student*/
 .table-header{
	font-size:15px;
	font-weight:bold;
 }
 
 /* revenue.php*/
 .rev-div{
	width:220px;
	display:block;
	float:left;
	line-height:20px;
	text-align:center;
	cursor:pointer;
	height:80px;
	margin:3px;
 }
 .rev-div:hover{
	box-shadow:0 0 6px rgba(52,73,94,1);
	border:none;
 }
 .rev-div-header{
	height:24px;
	font-weight:bold;
	font-size:16px;
	background-color:rgba(52,73,94,0.7);
	color:rgba(255,255,255,0.9);
	height:22px;
	padding-top:2px;
 }
 .rev-content{
	padding:2px;
 }
 .content-block{
	margin:3px;
	width:100px;
	display:block;
	float:left;
 }
 .black-top{
	font-size:14px;
	margin:2px;
	font-weight:bold;
 }
 .block-bottom{
	box-shadow:0px 0px 3px rgba(52,73,94,1);
 }
.ul-div{
	margin:0px auto;
	width:660px;
	height:auto;
}
/* update class*/
.check-box-class{
	display:block;
	width:670px;
	height:200px;
	margin:5px;
	border:solid 1px #ccc;
	padding:5px;
}
.box-check-left{
	width:150px;
	height:40px;
	display:block;
	float:left;
	border:solid 1px #ccc;
}
.box-check-span{
	display:inline-block;
	float:left;
	margin:2px;
	width:50px;
}
.check-box-span input{
	position:relative;
	top:4px;
	width:20px;
}
.check-box{
     display:block;
	 width:300px;
}
div.check-box span.check-box-span{
	 box-shadow:0px 0px 3px rgba(52,73,94,1);
	 display:block;
	 padding:1px;
	 width:460px;
 	 height:150px;
	 overflow-y:auto;
	 margin-top:4px;
}
span.form-text{
	display:block;
	float:right;
}
.check-select-all{
	float:left;
	display:block;
	width:20px;
	position:relative;
	top:7px;
	left:-160px;
}
/*  checkbox label*/
label.checkbox-text{
	display:block;
	margin-right:20px;
	float:left;
}

/* LOGIN PAGE*/
.login-box{
	width:350px;
	margin:20px auto;
	padding:3px;
	box-shadow:0px 0px 3px rgba(52,73,94,1);
	height:160px;

}
.login-row{
	width:350px;
	margin:7px auto;
	padding:2px;
	height:30px;
}
span.login-text{
	display:inline-block;
	font-weight:bold;
	width:120px;
	margin:2px;
}
span.login-input{
	display:inline-block;
	width:200px;
	text-align:left;
	font-weight:bold;
	color:rgba(52,73,94,1);
}
.logout-span{
	display:block;
	cursor:pointer;	
}
/*for line with text */


div.text-line {
    text-align: center;
	box-shadow:0px 0px 3px rgba(52,73,94,0.5);
	font-weight:bold;
	font-size:14px;
	padding:2px 0px 2px 0px;
	background-color:rgba(0,0,0,0.3);
	text-align:center;
}

div.text-line span:before {
    border-top: 2px solid black;
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    position: relative;
    left: 0px;
	top:8px;
}
div.text-line span:after {
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    right: 0;  
    left: auto;   
	border-top: 2px solid black;
	position:relative;
	left:420px;
	top:-9px;
}

.hidden-name{
	display:none;
}

.sel_mon_span{
	position:relative;
	left:-60px;
	float:right;
}
.sel_late_span{
	float:right
}
/* Added By Ranjeet || for Filter on revenue page*/
.hide{display: none;}
.show{display: block;}
.filter-div {width: 140px;float: right;}
.revenue-pend{width: :110px !important;word-wrap: break-word;}