<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApplication1-20140621035625.mdf;Initial Catalog=aspnet-WebApplication1-20140621035625;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="connString" connectionString="Data Source=(local);database=crebit;uid=sa;password=1234" providerName="System.Data.SqlClient" />-->
    <add name="connString" connectionString="Data Source=dhsrecharge.db.9223203.hostedresource.com;database=DhsRecharge;uid=dhsrecharge;password=DHS009rch!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>

      <defaultDocument>
        <files>
          <clear/>
          <add value="login.htm"/>
        </files>
      </defaultDocument>
    </system.webServer>

  <location path="ajaxpro">
    <system.webServer>
      <handlers>
        <add verb="*" path="*.ashx" name="AjaxPro"
             type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" resourceType="Unspecified" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <location path="ajaxpro">
    <!--<system.webServer>
      <handlers>
        <add name="AjaxPro" path="*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" resourceType="Unspecified" preCondition="integratedMode" />

      </handlers>

    </system.webServer>-->
    <system.web>
      <httpHandlers>
        <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
      </httpHandlers>

    </system.web>
  </location>

</configuration>