/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-variant:small-caps;
  overflow:hidden;
}

.dashboard-middle{padding:0; margin:0 auto;width:87%;}

/*
 * Global add-ons
 */

.sub-header {
  font-size:18px;
  color:#fff;
  margin-top:10px;
  margin-left:10px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.space {height:51px;width:100%;}
.hideMe{display:none;}
.showMe{display:block;}
select>option {padding:2px;}
.float-left {float:left !important;}
.float-right{float:right !important;}
.margin5 li {margin:8px;}
.active {color:#fff !important;}
paper-toggle-button.blue::shadow paper-radio-button::shadow #ink[checked] {
      color: #4285f4;
    }

    paper-toggle-button.blue::shadow paper-radio-button::shadow #onRadio {
      background-color: #4285f4;
    }

    paper-toggle-button.blue::shadow #toggleBar[checked] {
      background-color: #4285f4;
    }